* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  max-width: 100%;
  max-height:100%;
}
header {
  font-size: 4em;
  position: absolute;
  top: 6%;
  left: 30%;
  color: orange;
}
.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  max-height:100%;

}
.time-select , .sound-picker,.player-container,.reset {
  height: 80%;
  flex : 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  max-height:100%;
}



.player-container {
  position: relative;
}
.player-container svg{
  position: absolute;
  width: 50%;
  height: 50%;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
  outline: none;
  max-width: 100%;
  max-height:100%;
}
video {
  /* display:none; */
  position: fixed;
  top:0%;
  left: 0%;
  /* width: 100%; */
  /* height: 100%; */
  z-index: -10;

}
.time-select > button,
.sound-picker > button {
  color: white;
  outline: none;
  width: 30%;
  height: 10%;
  background: none;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 90%;
  transition: all 0.5s ease;
  max-width: 100%;
  max-height:100%;
}

.time-display{
  position: absolute;
  bottom:14%;
  color: white;
  font-size: 3em;
  max-width: 100%;
  max-height:100%;
}
.time-select > button:hover {
  color: black;
  background: white;
}
.sound-picker > button {
  border: none;
  position: relative;
  width: 25%;
  height: 25%;
  transform: translate(-25%, -25%);
  outline:none;
  border-radius: 50%;
  padding:30px;
  max-width: 100%;
  max-height:100%;
}
.sound-picker > button:nth-child(1) {
  background: none;
}

.sound-picker > button:nth-child(2) {
  background: none;
}
.sound-picker img{
  /* height: 100%; */
}
.player-container img {
  position:relative;
  max-width:100%;
  max-height: 100%;
}
.rainimg, .beachimg{
  width: 70%;
  height: 70%;
}
#reset {
  font-size: 20px;
  padding: 20px;
  background: #F44336;
  width:14%;
  height: 10%;
  color: white;
  outline: none;
  margin:0 auto;
  max-width: 70%;
  max-height:70%;
}
.play {
  width: 23%;
  max-width: 100%;
  max-height: 100%;

}
.rainsvg, .beachsvg {

}
